.wcs-conditions-table th.condition_remove {
	width: 15px !important;
}

.wcs-conditions-table {
	width: 100%;
	background: #fff;
	margin: 0 0 15px;
}

.wcs-conditions-table tr th {
	vertical-align: middle;
	margin: 0;
	line-height: 24px;
	width: 400px;
	padding: 1em;
	border-bottom: 1px solid #e9e9e9;
}

.wcs-conditions-table tr td {
	vertical-align: middle;
	margin: 0;
	line-height: 20px;
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
}

.ui-autocomplete {
	z-index: 1500 !important;
}
